.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color:#121212;
}

.rounded {
    border-radius: 6px;
}

.m-1 {
    margin: -16px -19px 22px -16px;
}

.p-1 {
    padding: 22px;
}

.h1 {
    font-size: 26px;
    margin-left: 12px;
    margin-bottom: 5px;
}

.h2{
    font-size:18px;
    font-weight: 550;
    margin: 7px 0;
}
.p{
    font-size: 15px;
    font-weight: 400;
    color: #c3bdbd;
} 

#br-radius{
    border-radius:50%;
}

/* Webkit Browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(102, 96, 96, .6);
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}
